html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Heebo", sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}


#slider-box {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
    margin: 0;
    box-sizing: border-box;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

#min-date-box, #max-date-box {
    margin: 10px;
}

#slider {
    justify-self: bottom;
    padding: 10px;
    width: 100%;
    appearance: none;
    cursor: pointer;
    outline: none;
    background-color: blue;
    background: black;
    background: url(images/slider-control.png);

}

input[type="range"]::-webkit-slider-runnable-track {
    height: 20px;
    background: #4421AE;
    border-radius: 20px;
}

input[type="range"]::-moz-range-track {
  height: 15px;
  background: #4421AE;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: url('../images/slider-control.png');
    border: 0;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: fixed;
    z-index: 9999999;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    margin: 10px 20px 0 10px;
    border: 1px solid #4421AE;
    padding: 10px;
    border-radius: 400px;
    height: 30px;
}

.nav-item h1 {
    font-size: 20px;
    color: #4421AE;
    padding: 0 5px;
}

.nav-item h3 {
    font-size: 15px;
    padding: 0 10px;
    white-space: nowrap;
    margin: 0;
}

.greyed-out {
    color: rgb(158, 158, 158)
}
.nav-item img {
    width: 30px;
    height: 30px;
}

#scroll {
    display: flex;
    align-items: center;
    width: 300px;
    overflow-x: auto;
    overflow-x: scroll;
    scrollbar-width: none;
    height: 30px;
}

#scroll h3 {
    cursor: pointer;
    user-select: none;
}
#export img {
    padding: 0 10px;
}

#filter img {
    padding: 0 10px;
}